#header{
    display: table;
    width: 100%;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,e5e5e5+100 */
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f8f8f8 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 1px 12px 15px -15px #000000;
	
	border-radius: 8px 8px 0 0;
	border: 1px solid #C1C0BF;
}

#header .logo{
    display: table-cell;
    width: 100px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%, auto;
}

#header .headerRight{
    display: table-cell;
    height: 100px;
}

#header .name{
    text-align: left;
    font-size: 20pt;
    font-weight: bold;
    height: 60px;
    padding: 10px;
    /*background-color: #A9A768;*/
    border-radius: 0 8px 0 0;
}

#header .divisor{
    background-color: #006AAD;
    height: 4px;
}

#header .menu{
    text-align: right;
    height: 35px;
    padding: 2px;
}

#header .menu a{
    text-decoration: none;
}

#header .menu > div{
    display: inline-block;
}

#header .menu .button:hover{
    background-color: #85843B;
}


#headerXs{
    display: none;
    height: 100%;
}


#headerXs > div{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#headerXs .name{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    font-size: 16pt;
    color: #555413;
}

#headerXs .openMenuXsWrap{
    width: 50px;
}

@media (max-width: 992px) {
    #header{
		display: none;
    }
    
    #headerXs{
		display: table;
		width: 100%;
    }
}
