body{
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 2px;
    color: #00314F;
	background-color: #fffffc;
}

#fullWrap{
	background: #e9e8e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e9e8e7 0%, #fffffc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e9e8e7 0%,#fffffc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e9e8e7 0%,#fffffc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e8e7', endColorstr='#fffffc',GradientType=0 ); /* IE6-9 */
}
body.adminMode #fullWrap{
	background: #CEF9D4; /* Old browsers */
	background: -moz-linear-gradient(top, #CEF9D4 0%, #fffffc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #CEF9D4 0%,#fffffc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #CEF9D4 0%,#fffffc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEF9D4', endColorstr='#fffffc',GradientType=0 ); /* IE6-9 */
}

#mainHead{
    display: inline-block;
    /*background-color: #DEDDAA;*/
    width: 100%;
    max-width: 1000px;
    /*border: 1px solid #9F9D4F;*/
    height: 100px;
    /*border-radius: 8px 8px 0 0;*/
}

#mainBody{
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    
    text-align: left;
    margin-top: 5px;
	
	background: #e5e5e5;
	
	box-shadow: 1px 12px 15px -15px #000000;
	border: 1px solid #C1C0BF;

	background: #5D9AE1; /* Old browsers */
	background: -moz-linear-gradient(-80deg, #5D9AE1 0%, #5D9AE1 49%, #c9c9c9 55%, #c9c9c9 55%, #e3e4e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-80deg, #5D9AE1 0%,#5D9AE1 49%,#c9c9c9 55%,#c9c9c9 55%,#e3e4e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(-80deg, #5D9AE1 0%,#5D9AE1 30%,#c9c9c9 30.1%,#c9c9c9 30.1%,#e3e4e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e4e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

#mainBodyPadding{
    padding: 10px;
}

#mainFooter{
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
	
	box-shadow: 1px 12px 15px -15px #000000;
	
    border-radius: 0 0 8px 8px;
	border: 1px solid #C1C0BF;
	
	
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e5e5e5 0%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}

#mainFooterPadding{
    padding: 20px;
}

@media (max-width: 992px) {
    #mainHead{
		height: 40px;
    }
    
    #mainBodyWrap{
		padding-top: 45px;
    }
}

a{
    text-decoration: none;
}

.ellipsis{	
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.logo_image{
	height: 100px;
    width: 100px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%, auto;
}