#modalMenuXs .menu > div{
    text-align: left;
    border-top: 1px solid #C4C3C2;
    border-left: 1px solid #C4C3C2;
    border-right: 1px solid #C4C3C2;
    background-color: #D7D6D4;
}

#modalMenuXs .menu > div:hover{
    background-color: #C4C3C2;
    color: #484847;
}

#modalMenuXs .menu > div:first-child{
    border-radius: 4px 4px 0 0;
}

#modalMenuXs .menu > div:last-child{
    border-bottom: 1px solid #C4C3C2;
    border-radius: 0 0 4px 4px;
}

#modalMenuXs .menu > div div{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #666565;
    font-weight: bold;
	font-size: 15pt;
}

#modalMenuXs a{
    text-decoration: none;
}