.sectionInfo .name{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

.sectionInfo .main_image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
	cursor: pointer;
}

.sectionInfo .details{
	text-align: justify;
}

.sectionInfo .year{
	text-align: center;
	font-weight: bold;
}

.sectionInfo .sports{
	text-align: center;
	font-style: italic;
}

.sportIcon{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	
	display: inline-block;
	width: 15px;
	height: 15px;
}