.sectionInfo .name{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

.sectionInfo .title{
	font-size: 30pt;
}

.sectionInfo .years_live{
	text-align: left;
	font-style: italic;
	font-size: 20pt;
}

.sectionInfo .number{
	text-align: center;
	font-size: 20pt;
}

.sectionInfo .main-image-floating{
	display: inline-block;
	float: right; 
	margin: 4px;
	text-align: center;
}

.sectionInfo .main-image-floating img{
	cursor: pointer;
}

.sectionInfo .main_image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
	cursor: pointer;
}

.sectionInfo .details{
	text-align: justify;
	min-height: 200px;
}

.sectionInfo .year{
	text-align: left;
	font-size: 80pt;
	font-weight: bold;
	font-style: italic;
}

.sectionInfo .sports{
	text-align: left;
	font-style: italic;
	font-size: 20pt;
	display: table;
}

.sportsList{
	display: table;
}

.sportsList > div{
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
}

.sportIcon{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	
	display: inline-block;
	width: 50px;
	height: 50px;
}


@media (max-width: 992px) {
    .sectionInfo .main-image-floating{
		display: inline;
		width: 100%;
		
	}
}